@model CcdBill

<section class="content-header hidden-xs">
    <h1>
       新增
        <small>信用卡账单</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 信用卡</a></li>
        <li><a href="/CreditCard/CcdData"> 信用卡资料</a></li>
        <li class="active">新增账单</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                </div>
                <form asp-action="AddBill" role="form">
                    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "Add Bill" })
                    <div class="box-body">
                        <div class="col-md-12">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="CreditCardId" class="control-label"></label>
                                <select asp-for="CreditCardId" class="form-control" asp-items="ViewBag.CreditCardId"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="BillDate" class="control-label"></label>
                                <input asp-for="BillDate" type="date" id="createStartTime" class="form-control" />
                                <span asp-validation-for="BillDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="BillAmount" class="control-label"></label>
                                <input asp-for="BillAmount" class="form-control" />
                                <span asp-validation-for="BillAmount" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer col-md-offset-8">
                    </div>
                    @await Html.PartialAsync("_ModalFooter", new ModalFooter { })
                </form>
            </div>
        </div>
    </div>
</section>
<script>
    var now = new Date();
    //alert(now.getDate() + '-' + now.getMonth());
    //格式化日，如果小于9，前面补0  
    var day = ("0" + now.getDate()).slice(-2);
    //格式化月，如果小于9，前面补0  
    var month = ("0" + (now.getMonth() + 1)).slice(-2);
    //拼装完整日期格式  
    var today = now.getFullYear() + "-" + (month) + "-" + (day);
    //完成赋值  
    $('#createStartTime').val(today); 
</script>
